* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oxygen', sans-serif;
  background-color: #c8c8c8;
}

header {
  width: 50%;
  margin: 20px auto 0px;
  text-align: center;
  background-color: #fff;
}

#title {
  font-size: 3rem;
  background-color: #004c9f;
  color: #ffc200;
  padding: 18px 10px;
}

#heading {
  font-size: 1.6rem;
  color: #f77f22;
  padding: 10px 10px 4px;
}

#description {
  font-weight: bold;
  color: #4e4e4e;
  padding: 4px 10px 10px;
}

#survey-form {
  background-color: #fff;
  width: 50%;
  margin: 0px auto 20px;
  padding: 2px 24px 2px;
  font-size: 1.1rem;
}

.block {
  display: inline-block;
}

.clue {
  font-size: 0.9rem;
}

.form-group {
  margin: 28px 0px;
}

.selection div {
  margin: 6px 0px;
  display: flex;
  align-items: center;
}

.form-group label,
.form-group p {
  font-weight: 600;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group select,
.form-group textarea,
.form-group button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  margin: 8px 0px;
  border: 2px #c8c8c8 solid;
  border-radius: 5px;
  background-color: #c8c8c8;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group textarea {
  transition: background 800ms ease;
}

.form-group input[type="text"]::placeholder,
.form-group input[type="email"]::placeholder,
.form-group input[type="number"]::placeholder,
.form-group textarea::placeholder {
  transition: all 800ms ease;
  color: #686868;
}

.form-group input[type="text"]:focus::placeholder,
.form-group input[type="email"]:focus::placeholder,
.form-group input[type="number"]:focus::placeholder, 
.form-group textarea:focus::placeholder {
  opacity: 0.7;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="number"]:focus,
.form-group select:focus,
.form-group textarea:focus {
  background-color: #fff;
  outline: none;
  border-color: #c8c8c8;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 6px;
}

.form-group p {
  padding-bottom: 4px;
}

.form-group textarea {
  font-family: sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 200px;
  resize: vertical;
}

select {
  color: #484848;
}

.form-group button {
  cursor: pointer;
  color: #fff;
  background-color: #24bb24;
  border: none;
  font-weight: 600;
  outline: none;
  transition: all 400ms ease;
}

.form-group button:hover {
  background-color: #1c961c;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    margin-top: 0;
  }

  #survey-form {
    width: 100%;
    margin-bottom: 0;
  }
}