* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

#main {
  background-color: #292b37;
  color: #fff;
  max-width: 100%;
}

#title {
  background-color: #2066a3;
  padding: 15px 10px;
  text-align: center;
}

#title h1 {
  font-size: 42px;
  padding-bottom: 10px;
}

#img-div {
  background-color: #fff;
  color: #000;
  width: 40%;
  padding: 10px;
  margin: 32px auto 14px;
}

#img-div #image {
  display: block;
  max-width: 100%;
}

#img-div #img-caption {
  font-size: 14px;
  width: 85%;
  text-align: center;
  margin: 10px auto 0px;
}

#tribute-info {
  padding: 32px 0 0;
}

.title {
  font-size: 24px;
  text-align: center;
  padding: 0px 14px;
}

.timeline {
  padding: 20px 5px;
  margin: 32px 0px 18px;
  position: relative;
  overflow: hidden;
}

.timeline::after {
  content: '';
  width: 4px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 49.9%;
}

.timeline .container {
  width: 50%;
  padding: 10px 40px;
  position: relative;
}

.timeline .container::after {
  content: '';
  width: 24px;
  height: 24px;
  background-color: #f5d5d5;
  border: 4px #f42400 solid;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  z-index: 1;
}

.timeline .container.left {
  left: 0;
}

.timeline .container.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 24px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.timeline .container.left::after {
  right: -16px;
}

.timeline .container.right {
  left: 50%;
}

.timeline .container.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 24px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.timeline .container.right::after {
  left: -16px;
}

.timeline .container .content {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  padding: 24px 18px;
  position: relative;
  overflow: hidden;
}

.timeline .container .content h2 {
  margin: 0px 0px 10px;
  font-size: 28px;
}

.foot-note {
  background-color: #f42400;
  font-size: 20px;
  padding: 20px 10px;
  text-align: center;
}

.foot-note p a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.foot-note p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  #img-div {
    width: 80%;
  }

  #title h1 {
    font-size: 34px;
  }

  #tribute-info .title {
    font-size: 18px;
  }

  .timeline::after {
    left: 32px;
  }

  .timeline .container {
    padding: 10px 28px 10px 68px;
    width: 100%;
  }

  .timeline .container.right {
    left: 0;
  }

  .timeline .container.left::before {
    left: 58px;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .timeline .container.left::after {
    left: 13px;
  }

  .timeline .container.right::before {
    left: 58px;
  }

  .timeline .container.right::after {
    left: 13px;
  }

  .timeline .container .content h2 {
    font-size: 24px;
  }
}