* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  background-color: #192432;
  height: 100%;
}

#navbar {
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  box-shadow: 2px 0px 4px 0 #2c4057;
}

.icon {
  color: #ffde24;
  font-size: 80px;
}

#navbar header {
  margin: auto;
  width: 80%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.title {
  font-size: 2.5vw;
  width: 100%;
  font-weight: 600;
}

.links {
  border-top: 2px #fff solid;
  border-bottom: 2px #fff solid;
  height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
}

.links::-webkit-scrollbar-track {
  box-shadow: inset;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #243447;
}

.links::-webkit-scrollbar {
  width: 6px;
  background-color: #243447;
}

.links::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #88aadd;
}

.nav-link {
  border-bottom: 1px #9c9c9c dotted;
  font-size: 1.2rem;
  color: #c2d4e8;
  display: inline-block;
  text-decoration: none;
  padding: 14px 18px;
  width: 100%;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:last-child {
  margin-bottom: 64px;
  border-bottom: none;
}

#main-doc {
  width: 75%;
  margin-left: 25%;
  padding-top: 14px;
}

.main-section {
  padding: 14px 32px;
}

.main-section header {
  font-size: 1.8rem;
  font-weight: 600;
}

.content {
  padding: 14px 20px 4px;
  color: #fff;
  font-size: 0.96rem;
  line-height: 1.6;
}

li {
  padding-top: 8px;
}

code {
  display: block;
  background-color: #3b4c69;
  padding: 14px;
  margin: 8px 12px;
  border-radius: 8px;
  line-height: 2;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: auto;
}

body::-webkit-scrollbar-track {
  box-shadow: inset;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #243447;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #243447;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #88aadd;
}

.mdn {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.mdn:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .icon {
    font-size: 60px;
  }

  #navbar {
    padding: 2px;
    position: relative;
    height: 60%;
    width: 100%;
  }

  #navbar header {
    margin: 10px auto;
    height: 30%;
  }

  .title {
    font-size: 8vw;
  }

  .links {
    height: 65%;
  }

  #main-doc {
    margin-left: 0;
    width: 100%;
  }

  .main-section {
    padding: 14px 24px;
  }
}