* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  background-color: #1d1d1d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#header-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 12px auto;
}

#logo {
  display: flex;
}

#header-img {
  width: 16px;
  height: 20px;
}

#nav-bar {
  width: 50%;
  overflow: hidden;
}

#nav-bar ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: #b4b4b4;
  font-size: 14px;
  transition: all 200ms ease-in;
}

.nav-link:hover {
  color: #dadada;
}

#main {
  padding: 52px 10px 20px;
  overflow: hidden;
}

#main-container {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
}

.main-content {
  padding: 20px 0 0;
  color: #2c2c2c;
}

.main-content .title {
  font-size: 4.8rem;
  padding-bottom: 20px;
}

.main-content .description {
  line-height: 1.6;
}

.main-img {
  width: 50%;
  height: 100%;
  padding: 0px 10px;
  margin: 0px 20px;
}

#features {
  padding: 58px 10px 0px;
  background-color: #efefef;
  overflow: hidden;
}

#features-title {
  text-align: center;
  font-size: 3rem;
  margin: 10px auto 30px;
  width: 85%;
  color: #2c2c2c;
}

#features-container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(4, 1fr);
}

.feature {
  border-radius: 10px;
  color: #2c2c2c;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.feature .icon {
  background-color: ;
  color: #080808;
  padding: 20px 0px;
}

.feature .title {
  font-size: 1.4rem;
  padding: 12px 10px 4px;
}

.feature .info {
  line-height: 1.2;
  font-size: 0.90rem;
  padding: 4px 10px 12px;
}

#products {
  background-color: #efefef;
  padding: 40px 10px;
  overflow: hidden;
}

#products-title {
  color: #2c2c2c;
  width: 85%;
  margin: 32px auto;
  font-size: 2rem;
  text-align: center;
}

#products-container {
  width: 75%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 28px;
}

.product {
  height: 620px;
}

.product .image {
  height: 46%;
}

.product .content {
  height: 54%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-img {
  display: block;
  max-height: 100%;
}

.product-title {
  margin-bottom: 18px;
  color: #2c2c2c;
}

.special {
  font-size: 0.6rem;
  font-weight: 700;
  padding: 3px;
  border: 2px #1e1e1e solid;
  border-radius: 4px;
  position: relative;
  left: 2px;
  bottom: 6px;
}

.product-info {
  font-size: 0.90rem;
  color: #1f1f1f;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-links {
  display: flex;
  flex-direction: column;
}

.buy {
  width: 48px;
  padding: 6px;
  margin: 32px 0px 14px;
  display: inline-block;
  border-radius: 18px;
  background-color: #2268cc;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
}

.learn a {
  color: #2268cc;
}

.learn {
  font-size: 0.88rem;
  color: #2268cc;
  display: flex;
  align-items: flex-end;
}

.product-links .icon {
  margin-left: 2px;
}

.buy:hover {
  background-color: #004fcf;
}

.learn:hover a {
  color: #004fcf;
  text-decoration: underline;
}

#about {
  background-color: #efefef;
  overflow: hidden;
}

#about-container {
  width: 50%;
  margin: auto;
  padding: 20px 0px;
}

#about-title {
  padding: 24px 0px;
  font-size: 2rem;
  text-align: center;
  color: #2c2c2c;
}

#video {
  width: 100%;
  height: 340px;
}

#contact {
  background-color: #efefef;
  overflow: hidden;
}

#contact-container {
  width: 50%;
  margin: auto;
  padding: 20px 0px 54px;
}

#contact-title {
  padding: 18px 0px;
  font-size: 1.8rem;
  text-align: center;
  color: #2c2c2c;
}

input[type="email"] {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background-color: #fff;
  border: 2px #a8a8a8 solid;
  border-radius: 8px;
  outline: none;
  transition: all 360ms ease-in;
}

input[type="email"]:focus {
  border-color: #2c2c2c;
}

textarea {
  display: block;
  width: 100%;
  resize: vertical;
  height: 120px;
  padding: 12px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0px;
  background-color: #fff;
  border: 2px #a8a8a8 solid;
  border-radius: 8px;
  outline: none;
  transition: all 360ms ease-in;
}

textarea:focus {
  border-color: #2c2c2c;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: #fff;
  background-color: #2d2d2d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms ease-in;
}

input[type="submit"]:hover {
  background-color: #0c0c0c;
}

#footer {
  background-color: #c8c4c8;
}

#footer .copyright {
  padding: 14px;
  text-align: center;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  #nav-bar {
    width: 75%;
  }

  #main-container {
    flex-direction: column-reverse;
    padding-top: 32px;
  }

  .main-img {
    width: 100%;
  }

  .main-content {
    padding: 10px 10px 0;
  }
  
  #features-title {
    font-size: 2.6rem;
  }

  #features-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #products-title {
    font-size: 1.8rem;
  }
  
  #products-container {
    width: 85%;
    grid-template-columns: repeat(2, 1fr);
  }

  #about-container {
    width: 75%;
  }

  #about-title {
    font-size: 1.8rem;
  }

  #contact-container {
    width: 75%;
  }

  #contact-title {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  #header-container {
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    margin: 0;
    width: 100%;
  }

  #nav-bar {
    margin: 14px 0px 0px;
    width: 85%;
  }

  #main-container {
    flex-direction: column-reverse;
    padding-top: 32px;
    width: 100%;
  }

  .main-content .title {
    font-size: 3rem;
  }
  
  #features-title {
    font-size: 1.2rem;
    width: 95%;
  }

  #features-container {
    grid-template-columns: 1fr;
  }

  #products-title {
    font-size: 1.2rem;
    width: 95%;
  }
  
  #products-container {
    width: 95%;
    grid-template-columns: 1fr;
  }

  #about-container {
    width: 95%;
  }

  #about-title {
    font-size: 1.2rem;
  }

  #video {
    height: 180px;
  }

  #contact-container {
    width: 95%;
  }

  #contact-title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 320px) {
  #nav-bar ul {
    flex-direction: column;
  }

  #nav-bar ul li {
    padding: 4px 0px;
  }

  #main {
    padding-top: 180px;
  }

  #main-title {
    font-size: 1.8rem;
  }
}