:root {
  --primary-dark-color : #1d1f21;
  --secondary-dark-color : #282828;
  --tertiary-dark-color: #141414;
  --primary-light-color: #f75510;
  --secondary-light-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#navbar {
  /* border: 1px red solid; */
  background-color: var(--primary-dark-color);
  width: 100%;
  height: 7rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#navbar-container {
  /* border: 1px yellow solid; */
  font-family: 'Ubuntu', sans-serif;
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.home-link-icon {
  display: inline-block;
  border: 3px var(--secondary-light-color) solid;
  color: var(--secondary-light-color);
  font-size: 3rem;
  width: 48px;
  /* height: 48px; */
  padding: 2px;
  text-align: center;
}

.nav-links {
  /* border: 1px green solid; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.nav-link {
  /* border: 1px green solid; */
  color: var(--secondary-light-color);
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 1.4rem;
  transition: color 250ms ease-in;
}

.nav-link:hover {
  color: var(--primary-light-color);
}

#welcome-section {
  border: 1px white solid;
  background-color: var(--primary-light-color);
  color: var(--secondary-light-color);
  height: 100vh;
  display: flex;
  padding: 8rem 0 4rem;
}

#welcome-container {
  /* border: 1px blue solid; */
  width: 75%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profile-img {
  /* border: 1px green solid; */
  width: 25rem;
  margin: 2rem 0;
}

.profile-title {
  font-size: 6rem;
}

.star-icon {
  font-size: 3.2rem;
  padding: 1.4rem;
  color: var(--secondary-light-color);
}

.star-line {
  /* border: 1px orange solid; */
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.star-line::before {
  content: '';
  width: 12rem;
  height: 0.4rem;
  border-radius: 2rem;
  background-color: var(--secondary-light-color);
  position: absolute;
  top: 3rem;
  left: -12rem;
}

.star-line::after {
  content: '';
  width: 12rem;
  height: 0.4rem;
  border-radius: 2rem;
  background-color: var(--secondary-light-color);
  position: absolute;
  top: 3rem;
  right: -12rem;
}

.star-line.dark-line::before,
.star-line.dark-line::after {
  background-color: var(--primary-dark-color);
}

.dark-bg {
  color: var(--primary-dark-color);
}

.profile-info {
  font-size: 3.6rem;
}

#projects {
  /* border: 1px red solid; */
  padding: 8rem 0;
}

#projects-container {
  /* border: 1px blue solid; */
  width: 75%;
  margin: auto;
}

.projects-title {
  /* border: 1px green solid; */
  color: var(--primary-dark-color);
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-box {
  /* border: 1px blue solid; */
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}

.project-tile {
  /* border: 1px var(--primary-light-color) solid; */
  box-shadow: 2px 2px 8px #8a8a8a, -2px -2px 8px #8a8a8a;
}

.project-img {
  overflow: hidden;
  /* border: 1px blue solid; */
  /* padding: 1rem; */
}

.project-img img {
  /* border: 1px red solid; */
  /* border-radius: 1rem; */
  width: 100%;
}

.project-title {
  font-size: 2.4rem;
  /* border: 1px red solid; */
  padding: 1rem;
  text-align: center;
  color: var(--primary-light-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  /* border: 1px green solid; */
  position: relative;
  top: 0.18rem;
  color: var(--secondary-light-color);
  transition: color 400ms ease-out;
}

.project-tile:hover .icon {
  color: var(--primary-light-color);
}

#about-section {
  /* border: 1px red solid; */
  background-color: var(--primary-light-color);
  padding: 8rem 0;
}

#about-container {
  /* border: 1px blue solid; */
  width: 75%;
  margin: auto;
}

.about-title {
  /* border: 1px green solid; */
  color: var(--secondary-light-color);
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-info {
  /* border: 1px green solid; */
  padding-top: 1rem;
  font-size: 2.2rem;
  color: var(--secondary-light-color);
}

#contact-section {
  /* border: 1px red solid; */
  padding: 8rem 0;
}

#contact-container {
  /* border: 1px blue solid; */
  width: 50%;
  margin: auto;
}

.contact-title {
  /* border: 1px green solid; */
  color: var(--primary-dark-color);
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  /* border: 1px red solid; */
}

input {
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 2.2rem;
  width: 100%;
  padding: 1.4rem 0;
  margin: 3rem 0;
  border: none;
  border-bottom: 1px #c4c4c4 solid;
  outline: none;
}

textarea {
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 2.2rem;
  width: 100%;
  height: 18rem;
  resize: none;
  /* padding: 1.4rem 0; */
  /* margin: 3rem 0; */
  border: none;
  border-bottom: 1px #c4c4c4 solid;
  outline: none;
}

input[type="submit"] {
  width: 12rem;
  margin-bottom: 0;
  background-color: var(--primary-light-color);
  color: #fff;
  border-radius: 0.8rem;
  border-bottom: none;
  transition: background 100ms ease-in;
  outline: none;
}

input[type="submit"]:hover {
  background-color: #cf4a11;
  cursor: pointer;
}

#footer-section {
  color: var(--secondary-light-color);
}

#contact-details {
  /* border: 1px #fff solid; */
  background-color: var(--secondary-dark-color);
  padding: 2rem 0;
}

.contact-details-container {
  /* border: 1px greenyellow solid; */
  width: 75%;
  margin: auto;
  display: flex;
}

.location {
  /* border: 1px green solid; */
  width: 50%;
  text-align: center;
}

.location-title,
.web-links-title {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.location-img {
  /* border: 1px red solid; */
  width: 4rem;
}

.location-info {
  font-size: 2rem;
}

.web-links {
  /* border: 1px green solid; */
  width: 50%;
  text-align: center;
}

.web-icon {
  font-size: 2rem;
  border: 2px #fff solid;
  border-radius: 50%;
  padding: 1.6rem;
  margin: 0 0.4rem;
  color: #fff;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.web-icon:hover {
  background-color: var(--secondary-light-color);
  color: var(--secondary-dark-color);
}

#copyright {
  background-color: var(--tertiary-dark-color);
  font-size: 1.4rem;
  padding: 2rem 1rem;
  text-align: center;
}

@media screen and (max-width: 680px) {
  html {
    font-size: 60%;
  }

  #navbar-container,
  #welcome-container,
  #projects-container,
  #about-container,
  #contact-container,
  .contact-details-container {
    width: 85%;
  }

  .project-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 530px) {
  html {
    font-size: 58%;
  }

  .contact-details-container {
    flex-direction: column;
  }

  .location,
  .web-links {
    padding: 2rem 0;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 55%;
  }

  #navbar-container,
  #welcome-container,
  #projects-container,
  #about-container,
  #contact-container,
  .contact-details-container {
    width: 90%;
  }

  .projects-box {
    grid-template-columns: 1fr;
  }

  .project-title {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 430px) {
  html {
    font-size: 52%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 40%;
  }
}